@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    --padding-container: 100px 0;
    --background-color: #17202a;
    --line-height: 1.5;
}

body{
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/images/bg.jpg);
    background-size: cover;
    position: relative;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(42px);
    z-index: -1;
    pointer-events: none;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* NAV */
.hero{
    width: 100%;
    height: 100vh;
    min-height: 51px;
    max-height: 101px;
    position: fixed;
    top: -1px;
    left: 0;
    display: grid;
}

.hero--hide{
    display: var(--show, none);
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #17202a9d;
    border: 1px solid rgba(255, 255, 255, 0.158);
}

.nav_name{
    font-weight: 300;
    color: #fff;
}

.nav_image{
    padding: 0 10px;
}

.nav_image img{
    width: 60px;
    border-radius: 5px;
}

/* ABOUT-MYSELF*/
.about-myself{
    display: flex;
    gap: 1rem;
    padding: 100px 0px 50px 0px;
    grid-template-columns: 1fr 1fr;
}

.about-myself_image{
    padding-top: 1rem;
    display: block;
    justify-self: center;
}

.about-myself_image img{
    width: 400px;
}

.about-myself_lore{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
    color: #fff;
    text-align: left;
}

.about-myself_lore h1{
    color: #2ecc71;
    font-size: 3rem;
}

.about-myself_lore p{
    margin-top: 1rem;
    line-height: var(--line-height);
    font-weight: 300;
}

.about-myself_lore hr{
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.2);
    margin-top: auto;
}

/*SOCIALS LIST*/
.socials-container{
    display: grid;
    margin-top: auto;
}

.socials-list{
    list-style: none;
    display: inline-flex;
    gap: 3rem;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
    
}

.socials-list li{
    padding: 8px;
}

.socials-list li a img{
    width: 1.5vw;
    min-width: 20px;
    max-width: 35px;
}

.--onMouseOver{
    background-color: #2c3e5080;
    border-radius: 5px;
}

/* HANDLED TECHNOLOGIES*/
.handled-technologies{
    display: grid;
    gap: 1rem;
    padding: 0;
    background-color: #17202a9d;
    border-radius: 15px;
}

.technologies-title{
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.technologies-container{
    display: grid;
    padding-bottom: 50px;
}

.technologies-list{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    gap: 5rem;
}

/*TOOLTIP*/
.toclipboard {
    cursor: pointer;
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #2ecc71;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 250%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2ecc71 transparent transparent transparent;
}