.article-card{
    width: 100%;
    color: white;
    background-color: #17202a9d;
    border-radius: 15px;
    padding: 1rem;

    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1rem;
}

.article-card div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.article-card img{
    width: 5rem;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

.article-card h3{
    text-align: left;
}

.article-card p{
    text-align: left;
}